In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# EDA for Database 1 - https://catalog.data.gov/dataset/violence-reduction-victim-demographics-aggregated

In [6]:
# Load the dataset
data = pd.read_csv('Violence_Reduction_Victim_Demographics_Aggregated.csv')
# Inspect the data
print(data.head())

  TIME_PERIOD TIME_PERIOD_START TIME_PERIOD_END             PRIMARY_TYPE  \
0     2011 Q1        01/01/2011      03/31/2011                 HOMICIDE
1     2000 Q4        10/01/2000      12/31/2000                 HOMICIDE
2     1992 Q4        10/01/1992      12/31/1992                 HOMICIDE
3     2012 Q4        10/01/2012      12/31/2012                  BATTERY
4     2003 Q2        03/01/2003      06/30/2003  CRIMINAL SEXUAL ASSAULT

     AGE      SEX     RACE JUVENILE_I DOMESTIC_I GUNSHOT_INJURY_I  \
0  30-39        M      BLK      False      False               NO
1  70-79        M      WHI      False      False               NO
2  70-79        M      WHI      False      False               NO
3  20-29  UNKNOWN  UNKNOWN      False      False               NO
4   0-19        F      WWH       True      False          UNKNOWN

   NUMBER_OF_VICTIMS
0                1.0
1                2.0
2                1.0
3                1.0
4               42.0

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14792 entries, 0 to 14791
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TIME_PERIOD        14792 non-null  object
 1   TIME_PERIOD_START  14791 non-null  object
 2   TIME_PERIOD_END    14791 non-null  object
 3   PRIMARY_TYPE       14791 non-null  object
 4   AGE                14791 non-null  object
 5   SEX                14791 non-null  object
 6   RACE               14791 non-null  object
 7   JUVENILE_I         14012 non-null  object
 8   DOMESTIC_I         14791 non-null  object
 9   GUNSHOT_INJURY_I   14791 non-null  object
 10  NUMBER_OF_VICTIMS  14791 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB
None

In [8]:
print(data.describe())

       NUMBER_OF_VICTIMS
count       14791.000000
mean           15.760733
std            37.178062
min             1.000000
25%             1.000000
50%             3.000000
75%            12.000000
max           520.000000

In [9]:
data_cleaned = data.dropna()

In [10]:
print("Rows with missing values removed. Dataset info:")
data_cleaned.info()

Rows with missing values removed. Dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 14012 entries, 0 to 14790
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TIME_PERIOD        14012 non-null  object
 1   TIME_PERIOD_START  14012 non-null  object
 2   TIME_PERIOD_END    14012 non-null  object
 3   PRIMARY_TYPE       14012 non-null  object
 4   AGE                14012 non-null  object
 5   SEX                14012 non-null  object
 6   RACE               14012 non-null  object
 7   JUVENILE_I         14012 non-null  object
 8   DOMESTIC_I         14012 non-null  object
 9   GUNSHOT_INJURY_I   14012 non-null  object
 10  NUMBER_OF_VICTIMS  14012 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

In [11]:
print("\nSample of Cleaned Data:")
print(data_cleaned.head())

Sample of Cleaned Data:
  TIME_PERIOD TIME_PERIOD_START TIME_PERIOD_END             PRIMARY_TYPE  \
0     2011 Q1        01/01/2011      03/31/2011                 HOMICIDE
1     2000 Q4        10/01/2000      12/31/2000                 HOMICIDE
2     1992 Q4        10/01/1992      12/31/1992                 HOMICIDE
3     2012 Q4        10/01/2012      12/31/2012                  BATTERY
4     2003 Q2        03/01/2003      06/30/2003  CRIMINAL SEXUAL ASSAULT

     AGE      SEX     RACE JUVENILE_I DOMESTIC_I GUNSHOT_INJURY_I  \
0  30-39        M      BLK      False      False               NO
1  70-79        M      WHI      False      False               NO
2  70-79        M      WHI      False      False               NO
3  20-29  UNKNOWN  UNKNOWN      False      False               NO
4   0-19        F      WWH       True      False          UNKNOWN

   NUMBER_OF_VICTIMS
0                1.0
1                2.0
2                1.0
3                1.0
4               42.0

In [12]:
# Check for null values
if data_cleaned.isnull().sum().sum() == 0:
    print("There are no missing (null) values in the dataset.")
else:
    print("The dataset contains missing (null) values.")

# Optional: Display the count of missing values per column
print("\nMissing values per column:")
print(data_cleaned.isnull().sum())

There are no missing (null) values in the dataset.

Missing values per column:
TIME_PERIOD          0
TIME_PERIOD_START    0
TIME_PERIOD_END      0
PRIMARY_TYPE         0
AGE                  0
SEX                  0
RACE                 0
JUVENILE_I           0
DOMESTIC_I           0
GUNSHOT_INJURY_I     0
NUMBER_OF_VICTIMS    0
dtype: int64

In [13]:
# Remove rows with the value "unknown" in any column
data_cleaned = data_cleaned[(data_cleaned != "UNKNOWN").all(axis=1)]

# Check if there are any null or "unknown" values left
if data_cleaned.isnull().sum().sum() == 0 and not (data_cleaned == "UNKNOWN").any().any():
    print("There are no missing (null) or 'unknown' values in the dataset.")
else:
    print("The dataset still contains missing (null) or 'unknown' values.")

# Optional: Display a sample of the cleaned data
print("\nSample of Cleaned Data:")
print(data_cleaned.head())

There are no missing (null) or 'unknown' values in the dataset.

Sample of Cleaned Data:
  TIME_PERIOD TIME_PERIOD_START TIME_PERIOD_END PRIMARY_TYPE    AGE SEX RACE  \
0     2011 Q1        01/01/2011      03/31/2011     HOMICIDE  30-39   M  BLK
1     2000 Q4        10/01/2000      12/31/2000     HOMICIDE  70-79   M  WHI
2     1992 Q4        10/01/1992      12/31/1992     HOMICIDE  70-79   M  WHI
6     2015 Q4        10/01/2015      12/31/2015      ROBBERY  30-39   F  API
7     2017 Q4        10/01/2017      12/31/2017      ASSAULT   0-19   M  WWH

  JUVENILE_I DOMESTIC_I GUNSHOT_INJURY_I  NUMBER_OF_VICTIMS
0      False      False               NO                1.0
1      False      False               NO                2.0
2      False      False               NO                1.0
6      False      False               NO                9.0
7      False       True               NO                2.0

In [14]:
# Define the output file path
output_file_path = "db_one_cleaned.csv"

# Save the cleaned data to a CSV file
data_cleaned.to_csv(output_file_path, index=False)

# Optional: Confirm that the file has been saved
print(f"The cleaned data has been saved to '{output_file_path}'.")

The cleaned data has been saved to 'db_one_cleaned.csv'.

# EDA for Database 2 - https://catalog.data.gov/dataset/crimes-one-year-prior-to-present

In [15]:
data = pd.read_csv('Crimes-One_Year_Prior_to_Present.csv')
# Inspect the data
print(data.head())

      CASE#     DATE  OF OCCURRENCE                  BLOCK  IUCR  \
0  JH180578  03/07/2024 06:38:00 PM  021XX S PRINCETON AVE  1320
1  JH179103  03/07/2024 02:10:00 PM   059XX N GLENWOOD AVE  0460
2  JH178557  03/07/2024 04:45:00 AM   026XX W ARMITAGE AVE  041A
3  JH179833  03/07/2024 07:00:00 PM        007XX W 74TH ST  0810
4  JH178450  03/07/2024 12:08:00 AM   022XX S TRUMBULL AVE  502P

   PRIMARY DESCRIPTION         SECONDARY DESCRIPTION  \
0      CRIMINAL DAMAGE                    TO VEHICLE
1              BATTERY                        SIMPLE
2              BATTERY          AGGRAVATED - HANDGUN
3                THEFT                     OVER $500
4        OTHER OFFENSE  FALSE / STOLEN / ALTERED TRP

        LOCATION DESCRIPTION ARREST DOMESTIC  BEAT  WARD FBI CD  X COORDINATE  \
0  NURSING / RETIREMENT HOME      N        N   914    11     14     1174265.0
1   SCHOOL - PUBLIC BUILDING      Y        N  2013    48    08B     1165910.0
2                     STREET      N        N  1421     1    04B     1158387.0
3                     STREET      N        N   732    17     06     1172767.0
4                     STREET      N        N  1024    22     26     1153715.0

   Y COORDINATE   LATITUDE  LONGITUDE                       LOCATION
0     1890173.0  41.854037 -87.635861  (41.854037308, -87.635861095)
1     1939379.0  41.989244 -87.665120  (41.989243623, -87.665119726)
2     1913184.0  41.917521 -87.693510  (41.917520732, -87.693509757)
3     1855810.0  41.759775 -87.642373  (41.759775035, -87.642373275)
4     1888947.0  41.851106 -87.711320  (41.851106306, -87.711320316)

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257077 entries, 0 to 257076
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CASE#                   257077 non-null  object
 1   DATE  OF OCCURRENCE     257077 non-null  object
 2   BLOCK                   257077 non-null  object
 3    IUCR                   257077 non-null  object
 4    PRIMARY DESCRIPTION    257077 non-null  object
 5    SECONDARY DESCRIPTION  257077 non-null  object
 6    LOCATION DESCRIPTION   256032 non-null  object
 7   ARREST                  257077 non-null  object
 8   DOMESTIC                257077 non-null  object
 9   BEAT                    257077 non-null  int64
 10  WARD                    257077 non-null  int64
 11  FBI CD                  257077 non-null  object
 12  X COORDINATE            257011 non-null  float64
 13  Y COORDINATE            257011 non-null  float64
 14  LATITUDE                257011 non-null  float64
 15  LONGITUDE               257011 non-null  float64
 16  LOCATION                257011 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 33.3+ MB
None

In [17]:
print(data.describe())

                BEAT           WARD  X COORDINATE  Y COORDINATE  \
count  257077.000000  257077.000000  2.570110e+05  2.570110e+05
mean     1157.734737      23.196766  1.165279e+06  1.887745e+06
std       710.063326      13.951958  1.614479e+04  3.159049e+04
min       111.000000       1.000000  1.092647e+06  1.813897e+06
25%       533.000000      10.000000  1.154029e+06  1.860492e+06
50%      1034.000000      23.000000  1.167109e+06  1.894416e+06
75%      1732.000000      34.000000  1.176631e+06  1.910489e+06
max      2535.000000      50.000000  1.205119e+06  1.951493e+06

            LATITUDE      LONGITUDE
count  257011.000000  257011.000000
mean       41.847554     -87.668954
std         0.086868       0.058787
min        41.644590     -87.934567
25%        41.772570     -87.709807
50%        41.866098     -87.661950
75%        41.910103     -87.627395
max        42.022548     -87.524532

In [18]:
print(data.describe())

                BEAT           WARD  X COORDINATE  Y COORDINATE  \
count  257077.000000  257077.000000  2.570110e+05  2.570110e+05
mean     1157.734737      23.196766  1.165279e+06  1.887745e+06
std       710.063326      13.951958  1.614479e+04  3.159049e+04
min       111.000000       1.000000  1.092647e+06  1.813897e+06
25%       533.000000      10.000000  1.154029e+06  1.860492e+06
50%      1034.000000      23.000000  1.167109e+06  1.894416e+06
75%      1732.000000      34.000000  1.176631e+06  1.910489e+06
max      2535.000000      50.000000  1.205119e+06  1.951493e+06

            LATITUDE      LONGITUDE
count  257011.000000  257011.000000
mean       41.847554     -87.668954
std         0.086868       0.058787
min        41.644590     -87.934567
25%        41.772570     -87.709807
50%        41.866098     -87.661950
75%        41.910103     -87.627395
max        42.022548     -87.524532

In [19]:
data_cleaned = data.dropna()

In [20]:
print("Rows with missing values removed. Dataset info:")
data_cleaned.info()

Rows with missing values removed. Dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 255966 entries, 0 to 257076
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CASE#                   255966 non-null  object
 1   DATE  OF OCCURRENCE     255966 non-null  object
 2   BLOCK                   255966 non-null  object
 3    IUCR                   255966 non-null  object
 4    PRIMARY DESCRIPTION    255966 non-null  object
 5    SECONDARY DESCRIPTION  255966 non-null  object
 6    LOCATION DESCRIPTION   255966 non-null  object
 7   ARREST                  255966 non-null  object
 8   DOMESTIC                255966 non-null  object
 9   BEAT                    255966 non-null  int64
 10  WARD                    255966 non-null  int64
 11  FBI CD                  255966 non-null  object
 12  X COORDINATE            255966 non-null  float64
 13  Y COORDINATE            255966 non-null  float64
 14  LATITUDE                255966 non-null  float64
 15  LONGITUDE               255966 non-null  float64
 16  LOCATION                255966 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 35.2+ MB

In [21]:
print("\nSample of Cleaned Data:")
print(data_cleaned.head())

Sample of Cleaned Data:
      CASE#     DATE  OF OCCURRENCE                  BLOCK  IUCR  \
0  JH180578  03/07/2024 06:38:00 PM  021XX S PRINCETON AVE  1320
1  JH179103  03/07/2024 02:10:00 PM   059XX N GLENWOOD AVE  0460
2  JH178557  03/07/2024 04:45:00 AM   026XX W ARMITAGE AVE  041A
3  JH179833  03/07/2024 07:00:00 PM        007XX W 74TH ST  0810
4  JH178450  03/07/2024 12:08:00 AM   022XX S TRUMBULL AVE  502P

   PRIMARY DESCRIPTION         SECONDARY DESCRIPTION  \
0      CRIMINAL DAMAGE                    TO VEHICLE
1              BATTERY                        SIMPLE
2              BATTERY          AGGRAVATED - HANDGUN
3                THEFT                     OVER $500
4        OTHER OFFENSE  FALSE / STOLEN / ALTERED TRP

        LOCATION DESCRIPTION ARREST DOMESTIC  BEAT  WARD FBI CD  X COORDINATE  \
0  NURSING / RETIREMENT HOME      N        N   914    11     14     1174265.0
1   SCHOOL - PUBLIC BUILDING      Y        N  2013    48    08B     1165910.0
2                     STREET      N        N  1421     1    04B     1158387.0
3                     STREET      N        N   732    17     06     1172767.0
4                     STREET      N        N  1024    22     26     1153715.0

   Y COORDINATE   LATITUDE  LONGITUDE                       LOCATION
0     1890173.0  41.854037 -87.635861  (41.854037308, -87.635861095)
1     1939379.0  41.989244 -87.665120  (41.989243623, -87.665119726)
2     1913184.0  41.917521 -87.693510  (41.917520732, -87.693509757)
3     1855810.0  41.759775 -87.642373  (41.759775035, -87.642373275)
4     1888947.0  41.851106 -87.711320  (41.851106306, -87.711320316)

In [22]:
# Check for null values
if data_cleaned.isnull().sum().sum() == 0:
    print("There are no missing (null) values in the dataset.")
else:
    print("The dataset contains missing (null) values.")

# Optional: Display the count of missing values per column
print("\nMissing values per column:")
print(data_cleaned.isnull().sum())

There are no missing (null) values in the dataset.

Missing values per column:
CASE#                     0
DATE  OF OCCURRENCE       0
BLOCK                     0
 IUCR                     0
 PRIMARY DESCRIPTION      0
 SECONDARY DESCRIPTION    0
 LOCATION DESCRIPTION     0
ARREST                    0
DOMESTIC                  0
BEAT                      0
WARD                      0
FBI CD                    0
X COORDINATE              0
Y COORDINATE              0
LATITUDE                  0
LONGITUDE                 0
LOCATION                  0
dtype: int64

In [23]:
# Define the output file path
output_file_path = "db_two_cleaned.csv"

# Save the cleaned data to a CSV file
data_cleaned.to_csv(output_file_path, index=False)

# Optional: Confirm that the file has been saved
print(f"The cleaned data has been saved to '{output_file_path}'.")

The cleaned data has been saved to 'db_two_cleaned.csv'.